* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;  
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eeeeee;
}

.container {
    width: 90%;
    height: 75vh;
    display: flex;
    box-shadow: 5px 5px 5px 5px rgba(85, 84, 84, 0.212);
}

.form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fde3a786;
    padding: 1rem;
}

.form-image img {
    width: 32rem;
}

.form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column ;
    background-color: #ffff;
    padding: 5rem;
}

.form-header {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
}



.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #5451f1cc;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom:1rem;
    
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    box-shadow: 1px 1px 1px 2px rgb(0, 0, 0);
}

.input-box input:hover {
    background-color: rgb(219, 217, 217);
}

.input-box input:focus-visible {
    outline: 2px solid #5451f1cc;
}

.input-box label {
    font-size: 1.4rem;
    font-weight: 600;
    color: #000;
}

.salvar-button button {
    width: 100%;
    margin-top: 2rem;
    border: none;
    background-color: #5451f1cc;
    padding: 0.8rem;
    border-radius: 5px;
    cursor: pointer;
}

.salvar-button button:hover {
    background-color: rgb(127,127,127);
}

.salvar-button a {
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    color: #ffff;
}

